body{
    background-color: rgba(102, 120, 130, 1);
}

main{
    background-image: url(https://cdn.domestika.org/c_fill,dpr_auto,f_auto,q_auto,w_820/v1595223357/content-items/005/258/102/Danse_Macabre_x3_Esqueletos-original.gif?1595223357);
    background-image: no-repeat;
    background-image: fixed;
    background-size: cover;
    background-position: center;
    margin: 5%;
}

/*Estilos encabezado*/
header h1{
    box-sizing: border-box;
    font-size: 400%;
    font-family: "EB Garamond", serif;
    color: rgba(113, 52, 52, 1);
    -webkit-text-stroke: 1px white;/*Añade un borde al texto*/
    text-align: center;
    animation-name: exampleThird;
}

@keyframes exampleThird {
    0%   {top:0px;}
    25%  {top:20px;}
    50%  {top:0px;}
    75%  {top:20px;}
    100% {top:0px;}
}

/*Estilos imagen diablo*/
.diablo{
    text-align: center;
    position: relative;
    animation-name: exampleTwo;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes exampleTwo {
    0%   {top:0px;}
    25%  {top:20px;}
    50%  {top:0px;}
    75%  {top:20px;}
    100% {top:0px;}
}

/*Estilos contenedor circulos*/
.circles{
    width: auto;
    display: flex;
    flex-direction: column;
    /*texto*/
    justify-content: center;
}
p{
    color: white;
}
.circle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    /*Animación*/
    position: relative;
    animation-name: example;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    /*Hover*/
    transition: width 2s, height 2s, transform 2s;
}
@keyframes example {
    from {opacity: 0; left: -200px;}
    to {left: -15px;}
}

.circle:hover{/*hover*/
    width: 255px;
    height: 255px;
    transform: scale(70%);
}

#cir_One{
    align-self: flex-end;
    margin-right: 5%;
    text-align: center;
}
#cir_Two{
    margin-left: 60%;
    text-align: center;
}
#cir_Third{
    margin-left: 45%;
    margin-bottom: 2%;
    text-align: center;
}
.logo{
    width: 100%;
}

/*Media querie*/
@media screen and (max-width: 780px) {

    .main{
        background-image: no-repeat;
        background-image: fixed;
        background-image: center;
        background-size: 100% 100%;
    }
    .circles{
        display: flex;
    }
    .circle{
        margin-bottom: 5%;
    }
    #cir_One{
        align-self: center;
        margin-left: 0%;
        margin-right: 0%;
    }

    #cir_Two{
        align-self: center;
        margin-left: 0%;
        margin-right: 0%;
    }
    #cir_Third{
        align-self: center;
        margin-left: 0%;
        margin-right: 0%;
    }

    /* Estilos adicionales para los círculos en pantallas más pequeñas */
    .circle {
        width: 200px;
        height: 200px;
    }
}