* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    background-image: no-repeat;
    background-image: fixed;
    background-image: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-image: url(img/fondo_condiciones.jpg);
}

/*Estilos del alert personalizado*/
.custom-alert {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
}

.custom-alert-content {
    width: 50%;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.custom-alert-content h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.custom-alert-content p {
    font-size: 18px;
    margin-bottom: 20px;
    margin-left: 0%;
}

.custom-alert-close {
    margin-top: 10px;
    text-align: center;
}

.custom-alert-close button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

/*Estilos encabezado*/
header{
    margin-bottom: 20px;
}
header h1{
    text-align: center;
    font-size: 50px;
    font-family: 'Old Standard TT', serif;
}

/*Estilos contenedor principal*/
.main_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-image: url(/img/fondo_pergamino.webp);
    background-image: no-repeat;
    background-image: fixed;
    background-image: center;
    background-size: 100% 100%;
    border-radius: 10px;
}

.main_container h2 {
    margin-bottom: 20px;
    font-family: 'Gothic', sans-serif;
    font-size: 100%;
    color: #3A3B36;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    text-align: center;
}
section{
    display: flex;
    flex-direction: column;
}

p {
    font-size: 15px;
    margin-left: 25%;
    margin-bottom: 40px;
    font-family: 'Old Standard TT', serif;
    color: #6c441e;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

/*Estilos de botónes*/

.options {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    width: 70%;
    justify-content: center;
}

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #f9e5d0; /* Color crema */
    border: none;
    color: #8B4513; /* Marrón oscuro */
    text-align: center;
    font-size: 20px;
    padding: 20px 40px; /* Mayor espaciado horizontal */
    width: auto;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    font-family: "Old English Text MT", serif; /* Fuente estilo medieval */
    text-decoration: none; /* Quita el subrayado */
    position: relative; /* Posicionamiento relativo */
    overflow: hidden; /* Oculta elementos que se salgan del botón */
}
.button:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('path/to/parchment.png'); /* Ruta a la imagen del pergamino */
    background-repeat: repeat;
    background-size: cover;
    opacity: 0.2; /* Opacidad del pergamino */
}

.button:hover {
    background-color: #FFD700; /* Cambia a oro en el hover */
    color: #8B4513; /* Cambia a marrón oscuro en el hover */
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}  
.button:hover span {
    padding-right: 25px;
}  
.button:hover span:after {
    opacity: 1;
    right: 0;
}

audio {
    margin-top: 20px;
    width: 100%;
    max-width: 400px;
}