body{
    padding: 0px 10px;
    margin: 10px auto;
    background-color: #ffeab9;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Agrega esta línea para centrar verticalmente el contenido */
    align-items: center; /* Agrega esta línea para centrar horizontalmente el contenido */
}

header{
    width: 100%;
}

.flip-cartaTemporal-inner {/*Sirven apra dar un efecto de hover que al pasar el mouse se den la vuelta, estas están modificadas para que lo hagan al dar clic*/
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 #0c0d0dbd;
}
.flip-cartaTemporal-front, .flip-cartaTemporal-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.flip-cartaTemporal-front {
    background-color: #ffffff;
}
.flip-cartaTemporal-back {
    background-color: #ffffff;
    transform: rotateY(180deg);
}/***********************************************************************/

#back{
    width: 25px;
    height: 25px;
    align-self: flex-start;
}
#back:hover{
    width: 30px;
    height: 30px;
}

#Tittle{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 2%;
}
/*Otros estilos*/
h1{
    width: 500px;
    margin: 0px;
    color: blue;
    box-shadow: 0 4px 8px 0 #0c0d0dbd;
    background-color: aquamarine;
}

#pantalla{
    width: 500px;
    height: 420px;
    background-color: aquamarine;
    position: relative;
    box-shadow: 0 4px 8px 0 #0c0d0dbd;
    align-self: center;
}

#ganaste{
    position: absolute;
    left: 45px;top: 150px;
    font-size: 70px;
    font-weight: bold;
    color: #1900ca;
    display: none;
}

#foot_container{
    position: absolute;
    left: 10px;
    top: 380px;
}

#p_One{
    font-size: 16px;
    font-weight: bold;
    position: relative;
    float: left;
}
#foot_container p{
    font-size: 16px;
    font-weight: bold;
    position: relative;
    float: left;
    margin-left: 25px;
}

p span{
    color: red;
    font-weight: bold;
}